## Relatório de Análise II

## Por Região

In [3]:
import pandas as pd

In [6]:
dados = pd.read_csv('Dados/HIST_PAINEL_COVIDBR_19jan2021.csv', sep = ';')

In [10]:
dados

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680946,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-15,2,3015268.0,262928,706,4406,7,NaN,NaN,1.0
1680947,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-16,2,3015268.0,263756,828,4412,6,NaN,NaN,1.0
1680948,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-17,3,3015268.0,264227,471,4421,9,NaN,NaN,1.0
1680949,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-18,3,3015268.0,265274,1047,4427,6,NaN,NaN,1.0
1680950,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-19,3,3015268.0,265886,612,4436,9,NaN,NaN,1.0

In [12]:
dados['regiao']

0                Brasil
1                Brasil
2                Brasil
3                Brasil
4                Brasil
               ...
1680946    Centro-Oeste
1680947    Centro-Oeste
1680948    Centro-Oeste
1680949    Centro-Oeste
1680950    Centro-Oeste
Name: regiao, Length: 1680951, dtype: object

In [13]:
dados.regiao

0                Brasil
1                Brasil
2                Brasil
3                Brasil
4                Brasil
               ...
1680946    Centro-Oeste
1680947    Centro-Oeste
1680948    Centro-Oeste
1680949    Centro-Oeste
1680950    Centro-Oeste
Name: regiao, Length: 1680951, dtype: object

In [15]:
regioes = dados['regiao']

In [16]:
type(regioes)

pandas.core.series.Series

## Separa as regiões análisadas

In [17]:
regioes.drop_duplicates()

0             Brasil
332            Norte
2642        Nordeste
5612         Sudeste
6932             Sul
7922    Centro-Oeste
Name: regiao, dtype: object

In [19]:
regioes.drop_duplicates(inplace = True)

In [20]:
regioes

0             Brasil
332            Norte
2642        Nordeste
5612         Sudeste
6932             Sul
7922    Centro-Oeste
Name: regiao, dtype: object

## Organizando a Visualização

In [21]:
regioes = pd.DataFrame(regioes)

In [22]:
regioes

            regiao
0           Brasil
332          Norte
2642      Nordeste
5612       Sudeste
6932           Sul
7922  Centro-Oeste

In [23]:
regioes.index

Int64Index([0, 332, 2642, 5612, 6932, 7922], dtype='int64')

In [24]:
regioes.shape[0]

6

In [25]:
range(0,6)

range(0, 6)

In [26]:
for i in range(regioes.shape[0]):
    print(i)

0
1
2
3
4
5

In [27]:
regioes.index = range(regioes.shape[0])

In [28]:
regioes

         regiao
0        Brasil
1         Norte
2      Nordeste
3       Sudeste
4           Sul
5  Centro-Oeste

In [29]:
regioes.columns.name = "Id"

In [30]:
regioes

Id        regiao
0         Brasil
1          Norte
2       Nordeste
3        Sudeste
4            Sul
5   Centro-Oeste