## Análise de dados III

In [26]:
import pandas as pd

In [27]:
database = pd.read_csv('dados/HIST_PAINEL_COVIDBR_19jan2021.csv', sep = ';')

In [28]:
database

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680946,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-15,2,3015268.0,262928,706,4406,7,NaN,NaN,1.0
1680947,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-16,2,3015268.0,263756,828,4412,6,NaN,NaN,1.0
1680948,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-17,3,3015268.0,264227,471,4421,9,NaN,NaN,1.0
1680949,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-18,3,3015268.0,265274,1047,4427,6,NaN,NaN,1.0
1680950,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-19,3,3015268.0,265886,612,4436,9,NaN,NaN,1.0

In [29]:
database.head(10)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
5,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-01,10,210147125.0,2,0,0,0,NaN,NaN,NaN
6,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-02,10,210147125.0,2,0,0,0,NaN,NaN,NaN
7,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-03,10,210147125.0,2,0,0,0,NaN,NaN,NaN
8,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-04,10,210147125.0,3,1,0,0,NaN,NaN,NaN
9,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-05,10,210147125.0,7,4,0,0,NaN,NaN,NaN

In [30]:
list(database['regiao'].drop_duplicates())

['Brasil', 'Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste']

In [31]:
regiao = ['Norte']

In [32]:
regiao

['Norte']

In [33]:
database['regiao'].isin(regiao)

0          False
1          False
2          False
3          False
4          False
           ...
1680946    False
1680947    False
1680948    False
1680949    False
1680950    False
Name: regiao, Length: 1680951, dtype: bool

In [34]:
selecao = database['regiao'].isin(regiao)
selecao

0          False
1          False
2          False
3          False
4          False
           ...
1680946    False
1680947    False
1680948    False
1680949    False
1680950    False
Name: regiao, Length: 1680951, dtype: bool

In [35]:
database_norte = database[selecao]

In [36]:
database_norte

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
332,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0,0,0,0,NaN,NaN,NaN
333,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0,0,0,0,NaN,NaN,NaN
334,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0,0,0,0,NaN,NaN,NaN
335,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0,0,0,0,NaN,NaN,NaN
336,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144684,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-15,2,11540.0,1117,5,15,0,NaN,NaN,0.0
144685,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-16,2,11540.0,1125,8,15,0,NaN,NaN,0.0
144686,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-17,3,11540.0,1125,0,15,0,NaN,NaN,0.0
144687,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-18,3,11540.0,1128,3,15,0,NaN,NaN,0.0
144688,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-19,3,11540.0,1141,13,15,0,NaN,NaN,0.0

In [37]:
list(database_norte['regiao'].drop_duplicates())

['Norte']

In [38]:
database_norte.shape[0]

137757

In [39]:
database_norte.index = range(database_norte.shape[0])

In [40]:
database_norte

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0,0,0,0,NaN,NaN,NaN
1,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0,0,0,0,NaN,NaN,NaN
2,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0,0,0,0,NaN,NaN,NaN
3,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0,0,0,0,NaN,NaN,NaN
4,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137752,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-15,2,11540.0,1117,5,15,0,NaN,NaN,0.0
137753,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-16,2,11540.0,1125,8,15,0,NaN,NaN,0.0
137754,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-17,3,11540.0,1125,0,15,0,NaN,NaN,0.0
137755,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-18,3,11540.0,1128,3,15,0,NaN,NaN,0.0
137756,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-19,3,11540.0,1141,13,15,0,NaN,NaN,0.0

## Exportando a Base de Dados

In [41]:
database_norte.to_csv('dados/database_norte.csv', sep = ';')

In [43]:
dados_norte = pd.read_csv('dados/database_norte.csv', sep = ';')

In [44]:
dados_norte

,Unnamed: 0,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,0,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0,0,0,0,NaN,NaN,NaN
1,1,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0,0,0,0,NaN,NaN,NaN
2,2,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0,0,0,0,NaN,NaN,NaN
3,3,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0,0,0,0,NaN,NaN,NaN
4,4,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137752,137752,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-15,2,11540.0,1117,5,15,0,NaN,NaN,0.0
137753,137753,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-16,2,11540.0,1125,8,15,0,NaN,NaN,0.0
137754,137754,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-17,3,11540.0,1125,0,15,0,NaN,NaN,0.0
137755,137755,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-18,3,11540.0,1128,3,15,0,NaN,NaN,0.0
137756,137756,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-19,3,11540.0,1141,13,15,0,NaN,NaN,0.0

In [46]:
database_norte.to_csv('dados/database_norte.csv', sep=';', index = False)

In [47]:
database_norte

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0,0,0,0,NaN,NaN,NaN
1,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0,0,0,0,NaN,NaN,NaN
2,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0,0,0,0,NaN,NaN,NaN
3,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0,0,0,0,NaN,NaN,NaN
4,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137752,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-15,2,11540.0,1117,5,15,0,NaN,NaN,0.0
137753,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-16,2,11540.0,1125,8,15,0,NaN,NaN,0.0
137754,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-17,3,11540.0,1125,0,15,0,NaN,NaN,0.0
137755,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-18,3,11540.0,1128,3,15,0,NaN,NaN,0.0
137756,Norte,TO,Xambioá,17,172210.0,17001.0,MEDIO NORTE ARAGUAIA,2021-01-19,3,11540.0,1141,13,15,0,NaN,NaN,0.0